@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display';
    font-weight: 400;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav-list-link {
    color: #7D7D7D;
    line-height: 19px;
    font-size: 14px;
}

.button {
    font-family: 'Ubuntu';
    color: #B4AD9E;
    line-height: 16px;
    font-size: 14px;
}

.title {
    color: #626262;
    line-height: 40px;
    font-size: 30px;
}

.text {
    color: #626262;
    line-height: 19px;
    font-size: 14px;
}